.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.iml
.idea/
.DS_Store
